.reservation {
  background: url(../images/background_reservation.svg) no-repeat center;
  background-size: cover;
  background-position: center center;
  background-color: #d9e7ff;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

.reservation__title {
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
}
